:root {
    --bkg-clr: rgb(240, 240, 240);
    --trim-clr: red;
    --trim-txt: white;
    --sec-clr: rgb(1, 1, 70);
    --btn-clr: rgb(25, 196, 25);
    --correct: rgb(178, 247, 178);
    --incorrect: rgb(247, 151, 151);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    color: var(--txt-clr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--bkg-clr);
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.height-row {
    margin: 3rem 0 1rem;
}

.col {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.col-25 {
    flex: 25%;
    margin: 0 0 0 1rem;
}
.col-50 {
    flex: 50%;
}
.col-75 {
    flex: 75%;
}

/*NAV*/
.navbar {
    padding: 2rem;
    background-color: var(--trim-clr);
    position: inherit;
}

.logo {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: top;
}

.nav-links, .sidebar-links {
    gap: 1rem;
    list-style: none;
    color: var(--trim-txt);
}

.nav-links a{
    text-decoration: none;
    color: var(--txt-clr);
}
.sidebar-links {
    margin-top: 1rem;
}

.sidebar-links a {
    text-decoration: none;
    line-height: 1.5rem;
    color: white;
}

/*MAIN*/
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.width-container {
    width: 1200px;
    height: 100vh;
}

.section {
    margin-bottom: 2rem;
}

.boldWord {
    font-weight: 900;
    text-decoration: underline; 
}
.imp-word {
    padding: .15rem;
    background-color: green;
    color: var(--trim-txt);
    box-shadow: 0 0 3px 1px gray;
    width: max-content;
}

.header-lg {
    padding: 1rem 0 1rem;
    margin-bottom: 1rem;
    background-color: var(--sec-clr);
    color: var(--trim-txt);
}
.header-lg h1, p {
    padding: .5rem;
    text-transform: uppercase;
}

.text-sm {
    height: 100%;
    padding: 1.5rem;
    background-color: white;
    border-top: 3px solid var(--trim-clr);
    box-shadow: 0 0 3px 3px rgb(229, 229, 229);
}
.text-sm h3 {
    padding: 0 0 1rem;
    text-transform: uppercase;
}
.text-sm p {
    margin: 0 0 .5rem;
}

.info-sm {
    height: 100%;
    padding: 1.5rem;
    background-color: var(--sec-clr);
    color: var(--trim-txt);
    border-top: 3px solid var(--trim-clr);
    box-shadow: 0 0 3px 3px rgb(229, 229, 229);
}
.info-sm p {
    margin-top: 2rem;
}

.front-img {
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
}
.learn {
    background-image: url('assets/person_female_icon.svg');
}
.practice {
    background-image: url('assets/person_male_icon.svg');
}

.ex-table {
    width: 100%;
    border-spacing: 0;
    margin-top: 3rem;
    box-shadow: 0 0 8px 3px rgb(180, 180, 180);
}
.ex-table th {
    padding: .5rem;
    border: 1px solid black;
    background-color: var(--sec-clr);
    color: white;
    
}
.ex-table td {
    padding: .5rem;
    border: 1px solid black;
    background-color: var(--bkg-clr);
}

.ex-title {
    font-weight: 900;
}

#usingVerbs {
    display: block;
}

#infinitive {
    display: none;
}

.input-box {
    padding: 1rem;
}

.input-box input {
    margin: .5rem;
    padding: .5rem ;
    border-radius: 5px;
    outline: none;
}

.sentence-box {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 3rem;
}

.sentence-box input {
    margin: 1rem;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid black;
}

.select-box {
    padding: 1rem;
}

.select-box select {
    padding: .25rem;
    border-radius: 5px;
}

.translate-box {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.translate-box textarea {
    width: 15rem;
    height: 5rem;
    margin: 1rem 0 1.5rem;
    padding: .5rem;
    resize: none;
    border-radius: 5px;
    outline: none;
}

.summary-container {

}

.summary-box {
    display: flex;
    flex: 50%;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0 1rem;
    background-color: white;
    border-top: 3px solid var(--trim-clr);
    box-shadow: 0 0 3px 3px rgb(229, 229, 229);
}

.correct {
    background-color: var(--correct);
    color: rgb(12, 147, 48);
}
.incorrect {
    background-color: var(--incorrect);
    color: rgb(176, 60, 60);
}

.btn {
    padding: .5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.tense-btn {
    background-color: var(--sec-clr);
    color: var(--trim-txt);
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.tense-btn:hover {
    transition: 500ms;
    background-color: blue;
}

.btn-submit {
    background-color: var(--trim-clr);
    color: var(--trim-txt);
}
.btn-submit:hover {
    transition: 300ms;
    background-color: rgb(138, 0, 0);
}

.btn-next {
    display: none;
    background-color: var(--sec-clr);
    color: var(--trim-txt);
}
.btn-next:hover {
    transition: 300ms;
    background-color: rgb(0, 2, 131);
}

.ans-btn {
    width: 150px;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid var(--trim-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
.ans-btn:hover {
    transition: 300ms;
    background-color: var(--sec-clr);
    color: var(--trim-txt);
}